.contacts {
  background-color: var(--hero-footer-background-color);
display: flex;
padding-top: 60px;
padding-bottom: 60px;
}
.contacts-container {
  display: flex;   
  @media screen and (min-width: 480px) {
    display: flex;
   flex-direction: column;
   align-items: center;
   align-content: center;
   justify-content: space-between;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    
  }
    @media screen and (min-width: 1200px)  {
      display: flex;
    }
}
.container-footer{
  flex-direction: column;
}
.contacts-address {
  font-style: normal;
  font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;

color: var(--main-title-color);
}
.contacts-items:not(:last-child) {
  margin-bottom: 9px;
}
.contacts-link {
  font-style: normal;
  font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
color: rgba(255, 255, 255, 0.6);
}
.contacts-link:hover,
.contacts-link:focus {
color: var(--accent-color);
}
.contacts-logo {
  display: flex;
  font-family: Raleway;
  font-weight: bold;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;

color: var(--main-title-color);
width: 145px;
height: 31px;
margin-bottom: 20px;
}
span {
  color: var(--accent-color);
}
.container-footer-name {
  display: flex;
  flex-direction: column;
  width: 206px;
  margin-left: 70px;
  @media screen and (min-width: 480px) {
    display: flex;
   margin-left: 0;
   align-items: center;
   align-content: center;
   position: absolute;
   bottom: 200px;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    
  }
    @media screen and (min-width: 1200px)  {
      display: flex;
      flex-direction: column;
      width: 206px;
      margin-left: 70px;
    }
}
.name-footer {
  display: flex;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primery-background-color);
}
.icon-list-footer {
  display: flex;
  width: 206px;
  justify-content: space-between;
}
.footer-items {
  display: flex;
}
.footer-items::not(:last-child) {
    margin-right: 10px;
}
.footer-link:hover,
.footer-link:focus {
  background-color: var(--accent-color);
}
  .footer-link {
    display: flex;
  color: var(--primery-background-color);
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0px 4px 4px 0px #00000040;
  background-color: #38393f;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon {
  fill: currentColor;
}
.footer-form {
  display: inline-block;
  margin-right: 0; 
  margin-left: auto;
  @media screen and (min-width: 480px) {
    display: flex;
   margin-left: 0;
   margin-right: auto;
   flex-direction: column;
   align-items: center;
   align-content: center;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    
  }
    @media screen and (min-width: 1200px)  {
      display: inline-block;
  margin-right: 0; 
  margin-left: auto;
    }
}
.footer-form-container {
  display: flex;
  flex-direction: row;
  @media screen and (min-width: 480px) {
    display: flex;
   flex-direction: column;
   align-items: center;
   align-content: center;
   
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  flex-direction: row;
  }

}
.footer-email {
height: 50px;
width: 358px;
padding-left: 16px;
border: 1px solid rgba(255, 255, 255, 0.3);
box-sizing: border-box;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
background: none;
font-weight: normal;
font-size: 16px;
line-height: 1.25;
display: flex;
align-items: center;
letter-spacing: 0.03em;

color: rgba(255, 255, 255, 0.6);
@media screen and (min-width: 480px) {
  display: flex;
 margin-left: 0;
 margin-right: auto;
 flex-direction: column;
}
@media screen and (min-width: 768px) {
  display: flex;
  width: 100%;
  margin-top: 20px;
}
  @media screen and (min-width: 1200px)  {
    display: flex;
align-items: center;
  }
}
.footer-form-container {
display: flex;
flex-direction: row;
@media screen and (min-width: 480px) {
  display: flex;
 flex-direction: column;
}
}
.footer-btn {
  height: 50px;
width: 200px;
background-color: var(--accent-color);
background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
font-weight: bold;
font-size: 16px;
line-height: 1.87;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: #FFFFFF;
margin-left: 12px;
border: none;
@media screen and (min-width: 480px) {
  display: flex;
  margin-left: 0px;
  margin-top: 20px;
}
}
.icon-icon-send {
  fill: var(--main-title-color);
}