.header {
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  border-bottom: 1px solid #ECECEC;
  
  } 
  .header .container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding-left: 40px;
    margin-right: 0;
  }
  .header-navigation {
    @media screen and (min-width: 768px) {
      display: flex;
    align-items: center;
    flex-direction: row;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  align-items: center;
}
}
  .header__item:not(:last-child) {
    margin-right: 40px;
  } 
  .header__logo {
    font-family: Raleway;
    font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  
  color: var(--secondary-title-color);
  margin-right: 93px;
  transition-property: transform;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header__logo:hover {
    transform: scale(1.25);
  }
  .main-navigation {
    @media screen and (min-width: 480px)  {
      display: none;
    }
    @media screen and (min-width: 768px) {
      display: block;
    width: 294px;
    height: 16px;

    }
    @media screen and (min-width: 1200px) {
      display: block;
    width: 294px;
  height: 16px;
  }
  } 
  .header__list {
    
    @media screen and (min-width: 480px)  {
      display: none;
    }
    @media screen and (min-width: 768px) {
      display: flex;
    align-items: center;
    }
    @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
  }
  }
  .header__item
  .header__link {
    @media screen and (min-width: 480px)  {
      display: none;
    }
    @media screen and (min-width: 768px) {
      display: flex;
      font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-title-color);
    position: relative;
    }
    @media screen and (min-width: 1200px) {
      display: flex;
    font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-title-color);
  position: relative;
  }
  
  }
  .header__link:hover,
  .header__link:focus {
  color: var(--accent-color);
  }
  .header__link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .active::after {
    @media screen and (min-width: 480px)  {
      display: none;
    }
    @media screen and (min-width: 768px) {
      content: '';
    display: block;
    width: 100%;
    background-color: var(--accent-color) ;
    height: 4px;
    border-radius: 2px;
    position: absolute;
    top: 51px;
    }
    @media screen and (min-width: 1200px) {
    content: '';
    display: block;
    width: 100%;
    background-color: var(--accent-color) ;
    height: 4px;
    border-radius: 2px;
    position: absolute;
    top: 51px;
  }
    
  } 
  .header__right {
    
    @media screen and (min-width: 480px)  {
      display: none;
    }
    @media screen and (min-width: 768px) {
      margin-left: auto;
    display: flex;
    margin-bottom: 0;
    flex-direction: column;
    }
    @media screen and (min-width: 1200px) {
    margin-left: auto;
    display: flex;
    margin-right: 0;
    flex-direction: row;
  }
  }
  
  .icon-tel,
  .icon-mail {
  
      fill: currentColor;
    }

  .header__tel {
    @media screen and (min-width: 480px)  {
      display: none;
    }
    @media screen and (min-width: 768px) {
      display: flex;
    align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  
  color: var(--main-text-color);
  width: 142px;
  justify-content: space-between;
  margin-right: 0;
    }
    @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  
  color: var(--main-text-color);
  width: 142px;
  justify-content: space-between;
  }
    
  }
  .header__mail {
    @media screen and (min-width: 480px)  {
      display: none;
    }
    @media screen and (min-width: 768px) {
      display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    
    color: var(--main-text-color) ;
    width: 161px;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-right: 0;
    }
    @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
   margin-bottom: 0;
    color: var(--main-text-color) ;
    width: 161px;
  justify-content: space-between;
    margin-right: 50px;
  }
    
    } 
    .menu-open {
      background-color:#FFFFFF ;
      border: none;
      display: block;  
      @media screen and (min-width: 768px) {
      display: none;
    }
    @media screen and (min-width: 1200px) {
      display: none;
    }
    }
    .menu-open:hover .icon-menu,
    .menu-open:hover .icon-menu {
      fill: var(--accent-color);
    }
   .mob-menu {
     display: flex;
     position: fixed;
     width: 100vw;
    height: 100vh;
    background-color: #FFFFFF;
    justify-content: space-between;
    flex-direction: column;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;
    transform: translateZ(5px);
    z-index: 1;
   } 
   .mob-menu__item {
     display: flex;
    
   }
   .mob-menu__close {
     position: absolute;
     display: block;
     right: 15px;
     top: 10px;
     background-color: #FFFFFF;
     border: none;
   }
   .mob-menu__close:hover .icon-close,
   .mob-menu__close:focus .icon-close {
    fill: var(--accent-color);
   }

   .mob-menu__item:not(:last-child) {
    margin-bottom: 32px;
  }
  .mob-menu__link:hover,
  .mob-menu__link:focus {
  color: var(--accent-color);
  }
  .mob-menu__list {
    display: block;
  }
  .mob-menu__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;
    
    color: #212121;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mob-menu__nav {
    display: flex;
    flex-direction: column-reverse;  
    position: absolute;
    bottom: 134px;  
  }
  .mob-menu__tel {
    font-weight: 500;
font-size: 34px;
line-height: 1.18;

letter-spacing: 0.02em;
color: var(--accent-color);
margin-bottom: 32px;
margin-top: auto;
  }
  .mob-menu__mail {
    font-weight: 500;
font-size: 24px;
line-height: 1.17;
letter-spacing: 0.02em;

color: #757575;
  }
  .mob-menu-site__list {
    display: flex;
    flex-direction: row;
  }

  .mob-menu-site__item:not(:last-child) {
    margin-right: 10px;
    padding-right: 10px;
  }
  .mob-menu-site__item {
    display: block;
    position: relative;
   
  }
  .mob-menu-site__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: #2196F3;
  }
  .mob-menu-site__item:not(:last-child)::after {
    content: '';
    display: block;
    background-color: #757575;
    width: 1px;
    height: 100%;
    position: absolute;
    transform: translateY(-100%);
    right: 0;
  }
  .mob-menu.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }