.hero {
  display: flex;
  @media screen and (min-width: 480px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),  url( ../img/theader1x-min.jpg) , url(../img/theader1x-min.jpg) ;
    background-size: 100%;
    padding-top: 118px;
  padding-bottom: 118px;
  }
  @media screen and (min-width: 768px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),  url( ../img/header1x-min.jpg) 1x, url(../img/header1x-min.jpg) 2x;
    background-size: 100%;
    padding-top: 118px;
  padding-bottom: 118px;
  }
  @media screen and (min-width: 1200px){
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),  url(../img/fon-min.jpg);
    padding-top: 200px;
  padding-bottom: 200px;
  }
}
.hero__container {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.hero__title {
  font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--main-title-color);

@media screen and (min-width: 480px) {
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 360px;
height: 84px;
}
@media screen and (min-width: 768px) {
  font-weight: 900;
font-size: 26px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
width: 360px;
height: 84px;
}
@media screen and (min-width: 1200px){
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
height: 120px;
}
}
.hero__button {
  font-family: Roboto;
  font-style: normal;
  background-color: var(--accent-color);
  font-weight: bold;
font-size: 16px;
line-height: 1.87;
text-align: center;
letter-spacing: 0.06em;
cursor: pointer;
border-radius: 4px;
color: var(--main-title-color);
width: 200px;
height: 50px;
margin-top: 30px;
border: none;
}