.team-section {
  background-color: #F5F4FA;
display: flex;
padding-top: 0;
}
.team-container {
  display: flex;
  height: 100%;
  justify-content: center;
  flex-direction: column;
}
.team-list {
  display: flex;
  
  @media screen and (min-width:480px) {
    display: flex;
    
    flex-direction: column;
    width: 100%;
    margin-top: 30px;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
    @media screen and (min-width: 1200px)  {
      display: flex;
      flex-direction: row;
    flex-wrap: wrap;
    }
}
.team-title {
  display: flex;
@media screen and (min-width:480px) {
  display: inline-block;
  font-weight: bold;
font-size: 28px;
line-height: 1.18px;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
justify-content: center;
 margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  display: block;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.18px;
  text-align: center;
  letter-spacing: 0.03em;
 justify-content: center;
 align-items: center;
  color: #212121;
  transform: translateX(0%);
  margin-bottom: 50px;
}
  @media screen and (min-width: 1200px)  {
    display: block;
    font-weight: bold;
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;

color: var(--secondary-title-color);
margin-bottom: 50px;
}
}
.team-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
background-color: #FFFFFF;
@media screen and (min-width:480px) {
  display: block;
  width: 100%;
  img {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-basis: calc(100% / 2 - 30px);
  margin-bottom: 0;
}
  @media screen and (min-width: 1200px)  {
    display: flex;
    flex-direction: column;
  flex-wrap: wrap;
  flex-basis: calc(100% / 4 - 30px);
  margin-bottom: 0;
  }
}
.team-item {
  @media screen and (min-width:480px) {
     margin-bottom: 30px;
  }
}
.team-item:not(:nth-child(2n)) {
  @media screen and (min-width: 768px) {
  margin-right: 30px;
}
}
.team-item:not(:last-child) {
  @media screen and (min-width:1200px) {
  margin-right: 30px;
}
}
.team-name-container {
  padding-top: 30px;
  padding-bottom: 30px;
  align-content: center;
}
.team-name {
  font-weight: 500;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;

color: var(--secondary-title-color);
margin-bottom: 10px;
}
.team-position {
  font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;

color: var(--main-text-color);
}
.icon-list {
  display: flex;
  width: 206px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  margin-left: 32px;
  @media screen and (min-width:480px) {
    margin-bottom: 30px;
    margin-left: 0;
    width: 100%;
    justify-content: center;
    .icon-list:not(:last-child) {
      margin-left: 10px;
    }
   }
}
.icon-group:hover,
.icon-group:focus {
color: var(--main-title-color);
background-color: var(--accent-color);
}
.icon-group {
  display: flex;
  color: #AFB1B8;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.group {
  fill: currentColor;
}
.container-customers {
justify-content: center;
align-items: flex-start;
}
.customers-tittle {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

color: var(--secondary-title-color);
margin-bottom: 50px;
}
.customers-list {
  display: flex;
  justify-content: space-around;
  @media screen and (min-width:480px) {

    width: 100%;
  }
}
.icon-group-customers:focus,
.icon-group-customers:hover {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}
.icon-group-customers {
  display: flex;
  color: #AFB1B8;
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  justify-content: center;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.group {
  fill: currentColor;
}