:root {
  --primery-background-color:#FFFFFF;
  --secondary-background-color:#E5E5E5;
  --hero-footer-background-color:#2F303A;
  --main-title-color: #FFFFFF;
  --secondary-title-color:  #212121;
  --main-text-color:  #757575;
  --accent-color:#2196F3;
}